.wrapper {
  padding: 71px 0 205px;
}

.orange {
  color: #ff6600;
}

.cause_wrapper {
  display: flex;
  margin-top: 80px;
  gap: 40px 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .image_wrapper {
    flex: 1 1 100%;
    max-width: 560px;
  }

  .image {
    width: 100%;
    height: fit-content;
  }
}
