.main_bg {
   background: url("../../../../../public/assets/lymsec-bg.png");
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   margin-bottom: 67px;
}

.main_img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.main_img2 {
   margin-left: -140px;
}