.wrapper {
  padding: 89px 75px;
}

.orange {
  color: #ff6600;
}

.image {
  width: 100%;
  height: fit-content;
}

.banner {
  margin-top: 48px;
}

.description_wrapper {
  margin-top: 45px;

  p {
    font-size: 21px;
    line-height: 1.7;
    text-align: center;
  }
}
