.what_lymph_img {
   margin: 74px 0 70px 0;
}

.what_lymph_content {
   font-size: 21px;
   line-height: 36px;
   text-align: center;
}

.main_bg {
   background-color: #7070700d;
}

.lymph_expl {
   display: flex;
   align-items: center;
   margin: 107px 0 68px 0;
}

.lymph_expl_content {
   text-align: center;
   font-size: 21px;
   line-height: 36px;
   padding-bottom: 57px;
}
