.wrapper {
  margin-top: 134px;
  margin-bottom: 60px;
  text-align: center;

  .description {
    color: #707070;
    font-size: 30px;
  }

  .title {
    margin-top: 35px;
    font-size: 45px;
    font-weight: bold;

    &_main {
      color: #FF6600;
    }
  }
}
