.wrapper {
  padding: 41px 0 135px;
}

.image {
  width: 100%;
  height: fit-content;
}

.call_out {
  margin-top: 20px;
}

.description {
  margin-top: 45px;
  text-align: center;
  font-size: 21px;
  line-height: 1.7;
}
