.wrapper {
  padding: 109px 0 98px;
}

.orange {
  color: #ff6600;
}

.image {
  margin-top: 74px;
}

.list_wrapper {
  display: flex;
  gap: 20px 100px;
  margin-top: 40px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  .item {
    display: flex;
    align-items: center;
    border: 1px solid #707070;
    border-radius: 40px;
    padding: 15px;
  }
  .text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 9px;
  }
}
