.content {
   margin-top: 33px;
}

.main_content {
   font-size: 21px;
   line-height: 36px;
   text-align: left;
   margin-bottom: 80px;
}

.sin_text {
   font-size: 30px;
   text-align: right;
   margin-bottom: 193px;
}