.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6600;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  padding: 8px 15px 10px;
  border-radius: 60px;
}
