.main_title {

   strong {
      color: #FF6600;
      
   }

   .title_desc {
      font-size: 21px;
      line-height: 36px;
      margin: 69px 0 67px 0;
      text-align: center;
   }

}

.symptoms_chart {
   span {
      margin: auto;
   }

   .symptoms_content_img{
      margin: 20px 0 90px 0;
   }
}