.sub_title {
  padding-top: 151px;
  font-size: 30px;
  color: #707070;
  text-align: center;
  padding-bottom: 35px;
}
.title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 67px;
}
.point {
  color: #ff6600;
}
.circles {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  .big_circle {
    border: 5px solid #ff6600;
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .small_circle {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #707070;
      left: 180px;
      top: 65px;
      z-index: 999;
      background-color: white;
      .tri_i {
        margin-top: 25px;
        margin-left: 31px;
      }
    }
    .inner_t {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 36px;
    }
  }
}
.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 83px;
  .detail {
    width: 100%;
    border: 1px solid #ff6600;
    display: flex;
    border-radius: 30px;
    margin-bottom: 16px;
    .d_title {
      width: 350px;
      border: 1px solid #ff6600;
      background-color: #ff6600;
      font-size: 24px;
      font-weight: bold;
      color: white;
      border-radius: 30px;
      text-align: center;
      padding-top: 14px;
      padding-bottom: 17px;
    }
    .d_text {
      font-size: 24px;
      text-align: center;
      padding: 14px 38px 17px 13px;
    }
  }
}
