.section6 {
  text-align: center;
  margin-top: 101px;
  margin-bottom: 80px;
}
.sec6_image {
  display: flex;
  margin-bottom: 40px;
}
.sec6_text {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 78px;
}
.bold {
  font-weight: bold;
}
.des {
  font-size: 30px;
  margin-bottom: 35px;
  color: #707070;
}
.title {
  font-size: 45px;
  font-weight: bold;
}
.point {
  color: #ff6600;
}
