.page_wrapper {
   background-color: #7070700d;
   padding: 91px 0 81px 0;
   margin-bottom: 81px;
}

.main_title {
   line-height: 75px;

   strong {
      color: #FF6600;
   }
}

.notfix_content {

   .notfix_content_img {
      margin: 47px 0 55px 0;
   }

   p {
      font-size: 21px;
      line-height: 36px;
      text-align: center;
   }

}