.wrapper {
  &.upper {
    padding: 93px 0 91px;
    background-color: #7070700d;
  }

  &.lower {
    padding: 71px 0 93px;
  }
}

.orange {
  color: #ff6600;
}

.list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
  margin-top: 57px;
}
