.main_bg {
   background-color: #7070700d;
}

.foramen_title {
   padding-top: 130px;
}

.foramen_img {
   margin-bottom: 86px;
}

.foramen_desc {
   font-size: 21px;
   line-height: 36px;
   align-items: center;
}

.foramen_desc p {
   padding-bottom: 103px;
}