.header {
  background-color: #f0f0f0;

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_left {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

    .header_eye {
      background-color: #f5821f;
      width: 175px;
      display: flex;
      align-items: center;
      padding: 7px 6px 7px 9px;

      .eye_text {
        margin-left: 8px;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
        line-height: 1.13;
      }
    }
    .header_section {
      display: flex;
      align-items: center;
      border: 1px solid #f5821f;
      border-left: none;
      padding: 0 45px;

      .t_s_link {
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        color: #707070;

        &:not(:first-of-type) {
          margin-left: 55px;
        }
      }
    }
  }

  .header_right {
    color: #707070;
    font-weight: bold;

    .link {
      color: #707070;
      text-decoration: none;
      margin: auto 10px;
      font-size: 18px;
    }
  }
}

.main_logo_wrapper {
  // height: 162px;
  margin-top: 33.3px;
  margin-bottom: 34.7px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  .m_right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    .m_text {
      color: #707070;
      text-align: right;
      font-size: 18px;

      .orange_text {
        color: #f5821f;
      }
    }

    .phone {
      margin-top: 12px;
      display: inline-block;
      font-size: 27px;
      color: #000;
    }
  }
}

.nav_wrap {
  border: 1px solid #707070;
  width: 100%;
  background: linear-gradient(to left, #f5821f 50%, #ffffff 50%);
  // isolation: isolate;

  .b_wrap {
    display: flex;
    flex-direction: row;

    .main_link_wrapper {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;

      .main_link_btn {
        font-size: 18px;
        font-weight: bold;
        padding: 17px 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    .subMenu_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      transform: translateY(100%);

      &.white_bg {
        background-color: #ffffffe6;

        &:before {
          content: "";
          background-color: #ffffffe6;
          width: 100%;
          height: 100%;
          position: absolute;
          right: 100%;
        }
      }

      &.orange_bg {
        background-color: #f5821fe6;

        &:after {
          content: "";
          background-color: #f5821fe6;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 100%;
        }
      }

      .sub_link {
        font-size: 18px;
        font-weight: bold;
        padding: 12px 16px;
        border-radius: 20px;
        transition: all ease 100ms;

        &.main_link_white {
          &:hover {
            background-color: #f5821f;
            color: #fff;
          }
        }

        &.main_link_orange {
          &:hover {
            background-color: #fff;
            color: #f5821f;
          }
        }
      }
    }
  }
}

.white {
  color: #fff;
}

.orange {
  color: #f5821f;
}

.black {
  color: #000;
}
