.background {
  background-image: url("/assets/acci_1.png");
  padding: 344px 0 374px;
}

.hero_title_wrapper {
  max-width: 570px;
  width: 100%;
  margin-left: auto;

  h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }

  .banner {
    margin-top: 49px;
    padding: 2px 15px 6px;
  }

  p {
    margin-top: 54px;
    font-size: 30px;
    line-height: 1.8;
    text-align: center;
  }
}

.section2 {
  margin-top: 41px;
  margin-bottom: 95px;
}
.c_wrap {
  margin-bottom: 63px;
}
.circles {
  position: relative;
  height: 450px;
  .circle {
    width: 450px;
    height: 450px;
    background-color: #ff6600;
    border: 5px solid white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c_1 {
    left: 0;
  }
  .c_2 {
    left: calc(50% - 225px);
    z-index: 10;
  }
  .c_3 {
    right: 0;
    z-index: 20;
  }
  .c_i {
    margin-top: 123px;
    margin-bottom: 40px;
  }
  .c_text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 54px;
  }
}
.c_title {
  font-size: 30px;
  font-weight: bold;
  border: 5px solid #ff6600;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 27px;
  margin-bottom: 45px;
}
.c_detail {
  text-align: center;
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 66px;
}
.gray_back {
  background-color: rgba(#707070, 0.05);
}
.section3 {
  padding-top: 111px;
  text-align: center;
  padding-bottom: 68px;
}
.des {
  font-size: 30px;
  margin-bottom: 35px;
  color: #707070;
}
.title {
  font-size: 45px;
  font-weight: bold;
}
.point {
  color: #ff6600;
}
.sec3_detail {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 43px;
}
.items {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  margin: 0 auto 142px;
  .item_title {
    color: white;
    background-color: #ff6600;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-bottom: 31px;
  }
  .item_detail {
    font-size: 30px;
    line-height: 54px;
  }
}
.section4 {
  margin-top: 98px;
  text-align: center;
  margin-bottom: 68px;
}
.sec4_detail {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 66px;
}
.sec4_items {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  .sec4_item {
    display: flex;
    flex-direction: column;
    .sec4_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .s4_b_title {
        width: 100px;
        height: 400px;
        color: white;
        background-color: #ff6600;
        text-align: center;
        padding-top: 114px;
        font-size: 30px;
        font-weight: bold;
        line-height: 54px;
      }
      .s4_b_i {
        border: 1px solid #707070;
        width: 533.33px;
        height: 400px;
      }
    }
    .sec4_text {
      color: #707070;
      font-size: 30px;
      text-align: center;
      margin-bottom: 68px;
      font-weight: 900;
    }
  }
}
.section5 {
  padding-top: 111px;
  text-align: center;
  margin-bottom: 54px;
}
.sec5_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
  .sec5_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sec5_item {
      width: 550px;
      display: flex;
      border-radius: 40px;
      background-color: white;

      .sec5_i_i {
        margin: 15px;
      }
      .sec5_i_text {
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
        margin-left: 15px;
      }
    }
  }
}
.sec5_bottom {
  padding-bottom: 76px;
  .sec5_text {
    border-radius: 40px;
    background-color: #ff6600;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 27px;
  }
}

.section7 {
  padding-top: 62px;
  text-align: center;
  padding-bottom: 57px;
}
.sec7_detail {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 99px;
}
