.process_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: 290px;

  .image {
    width: 100%;
    height: fit-content;
  }

  .banner_wrapper {
    position: relative;
    margin-top: 20px;

    .play_image {
      position: absolute;
      left: -35px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  .description_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 21px 16px 31px;
    border: 1px solid #707070;
    border-radius: 30px;
    background-color: #fff;

    p {
      font-size: 21px;
      line-height: 1.4;
      text-align: center;
    }
  }
}
